In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

from scipy import stats

In [12]:
a1 = pd.read_excel('C:/Users/윤후/Downloads/2012-2016OECD 국가 교통사고 비교.xls')
display(a1)

,국가,2012,2012.1,2012.2,2012.3,2012.4,2012.5,2012.6,2013,2013.1,...,2015.4,2015.5,2015.6,2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6
0,국가,인구수(천명),자동차등록대수(천대),사고[건],사망[명],인구10만명당사망자수,자동차1만대당사망자수,자동차1만대당사망자순위,인구수(천명),자동차등록대수(천대),...,인구10만명당사망자수,자동차1만대당사망자수,자동차1만대당사망자순위,인구수(천명),자동차등록대수(천대),사고[건],사망[명],인구10만명당사망자수,자동차1만대당사망자수,자동차1만대당사망자순위
1,그리스,10963.6345,9494,12398,988,9,1,13,10914.5055,9455,...,7.3,0.8,14,10749.742,9489,11318,824,7.7,0.9,14
2,네덜란드,16785.299,10633.182,4968,562,3.3,0.5,29,16867.352,10697.516,...,3.1,0.5,28,17124.505,10937.06,18749,533,3.1,0.5,28
3,노르웨이,5019.056,3598.371,6154,145,2.9,0.4,32,5080.6685,3671.088,...,2.3,0.3,32,5236.5895,3883.813,4374,135,2.6,0.3,32
4,뉴질랜드,4410.2845,3250.066,9678,308,7,0.9,15,4450.644,3304.712,...,6.9,0.9,12,4668.081,3656.348,10186,326,7,0.9,12
5,대한민국,50199.853,22602.098,223656,5392,10.7,2.4,4,50428.893,23150.609,...,9.1,1.9,3,51217.803,25580.107,220917,4292,8.4,1.7,3
6,덴마크,5600.9595,2929,3124,167,3,0.6,28,5625.3845,2957,...,3.1,0.6,24,5706.857,3088,2882,211,3.7,0.7,20
7,독일,81545.5655,53832,299637,3600,4.4,0.7,23,81680.5915,54480,...,4.2,0.6,22,82331.4225,56623,308145,3206,3.9,0.6,25
8,라트비아,2053.636,-,3358,177,8.6,-,-,2031.4865,-,...,9.4,-,-,1973.476,-,3792,158,8,-,-
9,룩셈부르크,530.5845,430.097,1019,34,6.4,0.8,19,543.0655,442.187,...,6.3,0.8,15,583.351,453.837,941,32,5.5,0.7,17
10,리투아니아,3063.341,2237.882,3391,301,9.8,1.3,7,3028.1895,2275.977,...,8.1,1.5,5,2933.6735,1614.04,3201,188,6.4,1.2,6
11,멕시코,115755.909,-,24216,17102,14.8,-,-,117290.6855,-,...,13.3,-,-,121519.2215,-,12567,16185,13.3,-,-
12,미국,316651.321,265647.194,5615045,33782,10.7,1.3,8,319375.166,269294.302,...,10.9,1.3,6,327210.198,288033.9,6821129,37806,11.6,1.3,5
13,벨기에,11031.1395,6920.791,44259,827,7.5,1.2,11,11103.257,6993.767,...,6.8,1.1,10,11316.836,7301.766,40123,670,5.9,0.9,11
14,스웨덴,9555.9865,5757,16458,285,3,0.5,31,9648.932,5813,...,2.6,0.4,30,9953.317,6150,14051,270,2.7,0.4,30
15,스위스,7995.738,5751.312,18148,339,4.2,0.6,25,8088.367,5840.889,...,3.1,0.4,31,8372.898,6156.542,17577,216,2.6,0.4,31
16,스페인,46756.0815,33373,83115,1903,4.1,0.6,27,46603.459,33024,...,3.6,0.5,27,46473.315,34093.99,102362,1810,3.9,0.5,26
17,슬로바키아,5409.2835,-,5370,352,6.5,-,-,5414.739,-,...,5.7,-,-,5431.2035,-,5602,275,5.1,-,-
18,슬로베니아,2069.354,1351.497,6864,130,6.3,1,14,2072.3745,1348.9,...,5.8,0.9,13,2090.02,1395.211,6495,130,6.2,0.9,10
19,아이슬란드,320.9795,266,742,9,2.8,0.3,33,324.0245,270,...,4.8,0.6,25,335.6745,303,986,18,5.4,0.6,23
20,아일랜드,4564.55,2403.223,5610,163,3.6,0.7,22,4588.832,2482.557,...,3.5,0.6,21,4715.7875,2624.958,5877,182,3.9,0.7,19
21,에스토니아,1322.682,-,1383,87,6.6,-,-,1317.9815,-,...,5.1,-,-,1315.9255,-,1468,71,5.4,-,-
22,영국,63808.727,35582.314,151346,1802,2.8,0.5,30,64302.297,36101.487,...,2.8,0.5,29,65655.203,38387.803,142846,1860,2.8,0.5,29
23,오스트리아,8429.6365,6195.207,40831,531,6.3,0.9,17,8479.539,6299.756,...,5.5,0.7,18,8736.4865,6545.818,38466,432,4.9,0.7,21
24,이스라엘,7592.106,2760.979,13094,290,3.8,1.1,12,7726.676,2850.513,...,4.4,1.2,7,8159.009,3239.305,12966,377,4.6,1.2,7
25,이탈리아,60190.1455,51293.242,188228,3753,6.2,0.7,21,60312.5995,51269.14,...,5.7,0.7,20,60118.6265,52658.875,175791,3283,5.5,0.6,22
26,일본,127853.6875,90147.47,665157,5261,4.1,0.6,26,127678.924,90564.785,...,3.8,0.5,26,126993.8575,91326.051,499201,4698,3.7,0.5,27
27,체코,10511.0645,6205,20504,742,7.1,1.2,10,10514.5525,6369,...,7,1.1,8,10527.5905,6866,21386,611,5.8,0.9,13
28,칠레,17341.771,3885.581,34591,1979,11.4,5.1,2,17509.9245,4168.98,...,12,4.6,2,18083.8795,4853.413,42285,2178,12,4.5,2
29,캐나다,34691.8785,22366.27,124682,2075,6,0.9,16,35063.691,23006.222,...,5.3,0.8,16,36113.532,24269.868,118321,1900,5.3,0.8,15
30,코스타리카,4736.5935,1643.59,-,655,13.8,4,3,4791.535,1740.045,...,-,-,-,4945.205,2134.257,-,-,-,-,-
31,콜롬비아,45782.417,9342.9,-,5320,11.6,5.7,1,46237.93,10244.688,...,13.6,5.3,1,47625.9555,12957.555,-,6936,14.6,5.4,1
32,튀르키예,75277.439,-,153552,3750,5,-,-,76576.1175,-,...,9.5,-,-,81019.3945,-,185128,7300,9,-,-
33,포르투갈,10522.086,5775,29867,718,6.8,1.2,9,10464.535,5724,...,5.7,1,11,10332.753,5806,32299,563,5.4,1,9
34,폴란드,38625.8735,24876,37062,3571,9.2,1.4,6,38607.3525,25684,...,7.6,1.1,9,38532.1125,28601,33664,3026,7.9,1.1,8
35,프랑스,63071.4155,45280.389,60437,3653,5.8,0.8,18,63335.18,45536.985,...,5.4,0.7,17,63989.3185,47087.86,57522,3477,5.4,0.7,16
36,핀란드,5413.8585,4130,5725,255,4.7,0.6,24,5438.8715,4236,...,4.9,0.6,23,5495.219,4550,4752,258,4.7,0.6,24
37,헝가리,9922.127,3621.735,15174,605,6.1,1.7,5,9894.6395,3690.599,...,6.5,1.7,4,9815.1045,4022.798,16627,607,6.2,1.5,4
38,호주,22729.269,16741.644,-,1299,5.7,0.8,20,23111.7815,17180.596,...,5.1,0.7,19,24195.7015,18387.136,-,1295,5.4,0.7,18
39,출처 : 1) IRTAD: International Road Traffic Acci...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
import pandas as pd
import numpy as np

# 0. Excel 파일에서 DataFrame 불러오기 (파일 경로는 사용자 경로에 맞게 수정)
df_raw = pd.read_excel('C:/Users/윤후/Downloads/2012-2016OECD 국가 교통사고 비교.xls', header=[0, 1])

# 0-1. 컬럼 이름 정리 (예: '2017', '인구수' → '2017_인구수')
df_raw.columns = [f"{col[0]}_{col[1]}" if 'Unnamed' not in col[1] else col[0] for col in df_raw.columns]

# 1. 자동차 등록대수 컬럼 추출 및 단위 변환 (천대 → 대)
car_cols = [col for col in df_raw.columns if '자동차' in col and '대수' in col]
df_raw[car_cols] = df_raw[car_cols].apply(pd.to_numeric, errors='coerce') * 1000

# 2. 인구수 컬럼 추출 및 단위 변환 (천명 → 명)
pop_cols = [col for col in df_raw.columns if '인구수' in col]
df_raw[pop_cols] = df_raw[pop_cols].apply(pd.to_numeric, errors='coerce') * 1000

# 3. 결과 확인
from IPython.display import display
display(df_raw.head())

,국가_국가,2012_인구수(천명),2012_자동차등록대수(천대),2012_사고[건],2012_사망[명],2012_인구10만명당사망자수,2012_자동차1만대당사망자수,2012_자동차1만대당사망자순위,2013_인구수(천명),2013_자동차등록대수(천대),...,2015_인구10만명당사망자수,2015_자동차1만대당사망자수,2015_자동차1만대당사망자순위,2016_인구수(천명),2016_자동차등록대수(천대),2016_사고[건],2016_사망[명],2016_인구10만명당사망자수,2016_자동차1만대당사망자수,2016_자동차1만대당사망자순위
0,그리스,10963634.5,9494000.0,12398,988.0,9.0,1,13,10914505.5,9455000.0,...,7.3,0.8,14,10749742.0,9489000.0,11318,824,7.7,0.9,14
1,네덜란드,16785299.0,10633182.0,4968,562.0,3.3,0.5,29,16867352.0,10697516.0,...,3.1,0.5,28,17124505.0,10937060.0,18749,533,3.1,0.5,28
2,노르웨이,5019056.0,3598371.0,6154,145.0,2.9,0.4,32,5080668.5,3671088.0,...,2.3,0.3,32,5236589.5,3883813.0,4374,135,2.6,0.3,32
3,뉴질랜드,4410284.5,3250066.0,9678,308.0,7.0,0.9,15,4450644.0,3304712.0,...,6.9,0.9,12,4668081.0,3656348.0,10186,326,7,0.9,12
4,대한민국,50199853.0,22602098.0,223656,5392.0,10.7,2.4,4,50428893.0,23150609.0,...,9.1,1.9,3,51217803.0,25580107.0,220917,4292,8.4,1.7,3

In [20]:
# 자동차 등록대수와 인구수가 모두 있는 연도별 컬럼 쌍 찾기
car_ratio_dict = {}  # 계산된 결과 저장용

for year in range(2012, 2016):
    # 컬럼명 예시: '2017_자동차등록대수(천대)', '2017_인구수(천명)'
    car_col = [col for col in car_cols if str(year) in col]
    pop_col = [col for col in pop_cols if str(year) in col]

    if car_col and pop_col:
        car_col = car_col[0]
        pop_col = pop_col[0]
        ratio_col = f"{year}_인구대비_자동차비율"
        
        df_raw[ratio_col] = df_raw[car_col] / df_raw[pop_col]
        car_ratio_dict[year] = ratio_col

# 결과 확인 (계산된 컬럼들만 보기)
df_result = df_raw[['국가_국가'] + list(car_ratio_dict.values())]
display(df_result)

,국가_국가,2012_인구대비_자동차비율,2013_인구대비_자동차비율,2014_인구대비_자동차비율,2015_인구대비_자동차비율
0,그리스,0.865954,0.866278,0.870756,0.880755
1,네덜란드,0.633482,0.634214,0.631817,0.632341
2,노르웨이,0.716942,0.722560,0.727970,0.734467
3,뉴질랜드,0.736929,0.742524,0.752749,0.765649
4,대한민국,0.450242,0.459074,0.470041,0.485260
5,덴마크,0.522946,0.525653,0.527749,0.533482
6,독일,0.660146,0.666988,0.672023,0.679296
7,라트비아,NaN,NaN,NaN,NaN
8,룩셈부르크,0.810610,0.814242,0.775524,0.778441
9,리투아니아,0.730536,0.751597,0.497140,0.522699
10,멕시코,NaN,NaN,NaN,NaN
11,미국,0.838927,0.843191,0.853341,0.866623
12,벨기에,0.627387,0.629884,0.633123,0.637879
13,스웨덴,0.602450,0.602450,0.607642,0.611309
14,스위스,0.719297,0.722135,0.725110,0.730153
15,스페인,0.713768,0.708617,0.711015,0.719619
16,슬로바키아,NaN,NaN,NaN,NaN
17,슬로베니아,0.653101,0.650896,0.651307,0.659703
18,아이슬란드,0.828713,0.833270,0.836275,0.860872
19,아일랜드,0.526497,0.541000,0.544187,0.550884
20,에스토니아,NaN,NaN,NaN,NaN
21,영국,0.557640,0.561434,0.566823,0.576019
22,오스트리아,0.734932,0.742936,0.747103,0.748189
23,이스라엘,0.363664,0.368918,0.377134,0.386079
24,이탈리아,0.852187,0.850057,0.856500,0.861829
25,일본,0.705083,0.709317,0.713025,0.717605
26,체코,0.590330,0.605732,0.604725,0.617553
27,칠레,0.224059,0.238092,0.252639,0.260046
28,캐나다,0.644712,0.656127,0.664852,0.669532
29,코스타리카,0.346998,0.363150,0.381831,0.404165
30,콜롬비아,0.204072,0.221565,0.240267,0.257849
31,튀르키예,NaN,NaN,NaN,NaN
32,포르투갈,0.548846,0.546990,0.549750,0.555982
33,폴란드,0.644024,0.665262,0.686125,0.710941
34,프랑스,0.717923,0.718984,0.721346,0.727617
35,핀란드,0.762857,0.778838,0.793564,0.808291
36,헝가리,0.365016,0.372990,0.382858,0.394783
37,호주,0.736568,0.743370,0.751334,0.755986
38,출처 : 1) IRTAD: International Road Traffic Acci...,NaN,NaN,NaN,NaN

In [24]:
import pandas as pd

df = df_result = df_raw[['국가_국가'] + list(car_ratio_dict.values())]
display(df_result)

output_path = '인구수_자동차등록대수_분석결과.xlsx'
df.to_excel(output_path, index=False)

print(f"✅ 저장 완료: {output_path}")

,국가_국가,2012_인구대비_자동차비율,2013_인구대비_자동차비율,2014_인구대비_자동차비율,2015_인구대비_자동차비율
0,그리스,0.865954,0.866278,0.870756,0.880755
1,네덜란드,0.633482,0.634214,0.631817,0.632341
2,노르웨이,0.716942,0.722560,0.727970,0.734467
3,뉴질랜드,0.736929,0.742524,0.752749,0.765649
4,대한민국,0.450242,0.459074,0.470041,0.485260
5,덴마크,0.522946,0.525653,0.527749,0.533482
6,독일,0.660146,0.666988,0.672023,0.679296
7,라트비아,NaN,NaN,NaN,NaN
8,룩셈부르크,0.810610,0.814242,0.775524,0.778441
9,리투아니아,0.730536,0.751597,0.497140,0.522699
10,멕시코,NaN,NaN,NaN,NaN
11,미국,0.838927,0.843191,0.853341,0.866623
12,벨기에,0.627387,0.629884,0.633123,0.637879
13,스웨덴,0.602450,0.602450,0.607642,0.611309
14,스위스,0.719297,0.722135,0.725110,0.730153
15,스페인,0.713768,0.708617,0.711015,0.719619
16,슬로바키아,NaN,NaN,NaN,NaN
17,슬로베니아,0.653101,0.650896,0.651307,0.659703
18,아이슬란드,0.828713,0.833270,0.836275,0.860872
19,아일랜드,0.526497,0.541000,0.544187,0.550884
20,에스토니아,NaN,NaN,NaN,NaN
21,영국,0.557640,0.561434,0.566823,0.576019
22,오스트리아,0.734932,0.742936,0.747103,0.748189
23,이스라엘,0.363664,0.368918,0.377134,0.386079
24,이탈리아,0.852187,0.850057,0.856500,0.861829
25,일본,0.705083,0.709317,0.713025,0.717605
26,체코,0.590330,0.605732,0.604725,0.617553
27,칠레,0.224059,0.238092,0.252639,0.260046
28,캐나다,0.644712,0.656127,0.664852,0.669532
29,코스타리카,0.346998,0.363150,0.381831,0.404165
30,콜롬비아,0.204072,0.221565,0.240267,0.257849
31,튀르키예,NaN,NaN,NaN,NaN
32,포르투갈,0.548846,0.546990,0.549750,0.555982
33,폴란드,0.644024,0.665262,0.686125,0.710941
34,프랑스,0.717923,0.718984,0.721346,0.727617
35,핀란드,0.762857,0.778838,0.793564,0.808291
36,헝가리,0.365016,0.372990,0.382858,0.394783
37,호주,0.736568,0.743370,0.751334,0.755986
38,출처 : 1) IRTAD: International Road Traffic Acci...,NaN,NaN,NaN,NaN

✅ 저장 완료: 인구수_자동차등록대수_분석결과.xlsx

In [44]:
import pandas as pd
from IPython.display import display

# 자동차등록대수 : 사고건수 비율 계산
for year in range(2012, 2016):
    car_reg_col = f"{year}_자동차등록대수(천대)"
    acc_col = f"{year}_사고[건]"

    if car_reg_col in df_raw.columns and acc_col in df_raw.columns:
        # 문자열을 숫자로 변환 (에러는 NaN으로 처리)
        car_reg = pd.to_numeric(df_raw[car_reg_col], errors='coerce')
        accidents = pd.to_numeric(df_raw[acc_col], errors='coerce')

        # 계산 후 새 컬럼 생성
        df_raw[f"{year}_자동차등록대수_사고건수비"] = car_reg / accidents

# 비율 컬럼만 따로 추출해서 보기 좋게 출력
ratio_cols = [col for col in df_raw.columns if '자동차등록대수_사고건수비' in col]
df_ratio_view = df_raw[['국가_국가'] + ratio_cols]

# 표 출력
display(df_ratio_view)

,국가_국가,2012_자동차등록대수_사고건수비,2013_자동차등록대수_사고건수비,2014_자동차등록대수_사고건수비,2015_자동차등록대수_사고건수비
0,그리스,765.768672,780.824180,809.153122,831.993007
1,네덜란드,2140.334541,1123.452636,801.906947,581.752362
2,노르웨이,584.720669,700.455638,752.263677,835.446855
3,뉴질랜드,335.820004,349.593991,380.862811,359.311184
4,대한민국,101.057419,107.500251,106.700159,106.688633
5,덴마크,937.580026,990.951743,1035.460764,1061.689450
6,독일,179.657385,187.148967,181.893630,182.399340
7,라트비아,NaN,NaN,NaN,NaN
8,룩셈부르크,422.077527,465.950474,474.939427,450.915565
9,리투아니아,659.947508,671.181657,461.674109,510.767557
10,멕시코,NaN,NaN,NaN,NaN
11,미국,47.309896,47.353519,45.315309,44.680187
12,벨기에,156.370252,169.148112,170.618653,178.041241
13,스웨덴,349.799490,392.372595,458.223735,410.373501
14,스위스,316.911616,334.280833,333.485705,340.941249
15,스페인,401.528003,368.904925,360.784100,341.798907
16,슬로바키아,NaN,NaN,NaN,NaN
17,슬로베니아,196.896416,206.190767,215.742018,208.466363
18,아이슬란드,358.490566,328.467153,339.108911,312.500000
19,아일랜드,428.381996,498.906150,433.975500,440.798148
20,에스토니아,NaN,NaN,NaN,NaN
21,영국,235.105744,249.965290,240.901711,256.974802
22,오스트리아,151.728025,163.621526,168.211160,170.341570
23,이스라엘,210.858332,201.963511,231.751739,235.930708
24,이탈리아,272.505908,282.225806,291.849823,297.414864
25,일본,135.528108,143.974617,158.395677,170.080164
26,체코,302.623878,313.096057,302.080365,301.423867
27,칠레,112.329247,106.078217,116.136033,119.973718
28,캐나다,179.386519,188.354814,202.411318,200.115483
29,코스타리카,NaN,NaN,NaN,NaN
30,콜롬비아,NaN,NaN,NaN,NaN
31,튀르키예,NaN,NaN,NaN,NaN
32,포르투갈,193.357217,188.668051,186.969024,180.358652
33,폴란드,671.199611,716.489525,756.991707,831.407165
34,프랑스,749.216358,801.538143,788.254490,820.257672
35,핀란드,721.397380,794.150731,814.049587,854.194793
36,헝가리,238.680308,235.204831,238.404872,237.973241
37,호주,NaN,NaN,NaN,NaN
38,출처 : 1) IRTAD: International Road Traffic Acci...,NaN,NaN,NaN,NaN

In [46]:
df_ratio_view.to_excel("자동차등록대수_사고건수비_분석결과.xlsx", index=False)
print("✅ 저장 완료: 자동차등록대수_사고건수비_분석결과.xlsx")

✅ 저장 완료: 자동차등록대수_사고건수비_분석결과.xlsx