In [46]:
import pandas as pd

In [48]:
d_rate = pd.read_excel('data/연간음주율.xlsx')

In [50]:
# 필요없는 칼럼 제거 (index, 구분, 전체)
d_rate = d_rate.drop(['Unnamed: 0', '구분', '전체'], axis = 1)
d_rate.columns = ['연도', '20대', '30대', '40대', '50대', '60대', '70대이상']

$$
\text{60대 이상 비율} = \frac{(\text{60대 비율} \times \text{60대 인구 수}) + (\text{70대 이상 비율} \times \text{70대 이상 인구 수})}{\text{60대 인구 수} + \text{70대 이상 인구 수}}
$$

In [53]:
# 이전 데이터와 호환 시키기 위해서는 60대이상의 음주율을 알아야한다. 
d_rate

     연도   20대   30대   40대   50대   60대  70대이상
0  2015  89.2  83.2  82.9  74.3  64.0   44.3
1  2016  89.2  85.8  82.4  76.5  63.1   43.4
2  2017  89.3  87.0  85.3  75.3  67.3   42.7
3  2018  87.6  86.3  84.5  75.0  67.1   45.4
4  2019  89.8  85.8  82.6  73.0  66.8   43.0
5  2020  87.7  85.9  81.3  74.7  61.6   41.8
6  2021  88.6  84.7  78.9  73.0  61.9   37.0

In [55]:
# 60대, 70대 이상 인구 데이터를 구해온다.
age_drunk_60_70 = pd.read_csv('data(전처리)/60_70_population.csv')

In [57]:
# 60대, 70대 이상 인구 데이터를 나눈다.
age_drunk_60 = age_drunk_60_70.loc[age_drunk_60_70['연령대'] == '60대'].reset_index(drop = True)
age_drunk_70 = age_drunk_60_70.loc[age_drunk_60_70['연령대'] == '70대이상'].reset_index(drop = True)

In [59]:
# 60대이상 음주율 계산
d_rate_60up = ((d_rate['60대'] * age_drunk_60['인구수']) + (d_rate['70대이상'] * age_drunk_70['인구수'])) / (age_drunk_60['인구수'] + age_drunk_70['인구수'])
d_rate_60up = round(d_rate_60up, ndigits = 1)
d_rate_60up

0    54.7
1    53.9
2    55.8
3    57.0
4    55.8
5    52.6
6    50.8
dtype: float64

In [61]:
# 60대 이상 음주율을 칼럼에 추가
d_rate['60대이상'] = d_rate_60up
# 60대, 70대 이상 음주율을 d_rate에서 제거한다.
d_rate = d_rate.drop(['60대', '70대이상'], axis = 1)

In [63]:
d_rate

     연도   20대   30대   40대   50대  60대이상
0  2015  89.2  83.2  82.9  74.3   54.7
1  2016  89.2  85.8  82.4  76.5   53.9
2  2017  89.3  87.0  85.3  75.3   55.8
3  2018  87.6  86.3  84.5  75.0   57.0
4  2019  89.8  85.8  82.6  73.0   55.8
5  2020  87.7  85.9  81.3  74.7   52.6
6  2021  88.6  84.7  78.9  73.0   50.8

In [65]:
# 20대 이하의 음주율 가져오기
minor_d_rate = pd.read_csv('data/연도별_청소년음주율.csv')

In [67]:
# 20대 이하 음주율 계산
minor_d_rate = minor_d_rate.loc[10:16, :'전체'].reset_index(drop = True)

In [69]:
minor_d_rate['전체']

0    16.7
1    15.0
2    16.1
3    16.9
4    15.0
5    10.7
6    10.7
Name: 전체, dtype: float64

In [74]:
# d_rate에 20대 이하 음주율 추가
d_rate['10대'] = minor_d_rate['전체']
d_rate = d_rate[['연도', '10대', '20대', '30대', '40대', '50대', '60대이상']]

In [76]:
d_rate

     연도   10대   20대   30대   40대   50대  60대이상
0  2015  16.7  89.2  83.2  82.9  74.3   54.7
1  2016  15.0  89.2  85.8  82.4  76.5   53.9
2  2017  16.1  89.3  87.0  85.3  75.3   55.8
3  2018  16.9  87.6  86.3  84.5  75.0   57.0
4  2019  15.0  89.8  85.8  82.6  73.0   55.8
5  2020  10.7  87.7  85.9  81.3  74.7   52.6
6  2021  10.7  88.6  84.7  78.9  73.0   50.8

In [78]:
d_rate = d_rate.melt(id_vars = '연도', value_vars = ['10대', '20대', '30대', '40대', '50대', '60대이상'])
d_rate.columns = ['연도', '연령대', '음주율']

In [86]:
d_rate = d_rate.sort_values(['연도', '연령대']).reset_index(drop = True)

In [108]:
d_rate

      연도    연령대   음주율
0   2015    10대  16.7
1   2015    20대  89.2
2   2015    30대  83.2
3   2015    40대  82.9
4   2015    50대  74.3
5   2015  60대이상  54.7
6   2016    10대  15.0
7   2016    20대  89.2
8   2016    30대  85.8
9   2016    40대  82.4
10  2016    50대  76.5
11  2016  60대이상  53.9
12  2017    10대  16.1
13  2017    20대  89.3
14  2017    30대  87.0
15  2017    40대  85.3
16  2017    50대  75.3
17  2017  60대이상  55.8
18  2018    10대  16.9
19  2018    20대  87.6
20  2018    30대  86.3
21  2018    40대  84.5
22  2018    50대  75.0
23  2018  60대이상  57.0
24  2019    10대  15.0
25  2019    20대  89.8
26  2019    30대  85.8
27  2019    40대  82.6
28  2019    50대  73.0
29  2019  60대이상  55.8
30  2020    10대  10.7
31  2020    20대  87.7
32  2020    30대  85.9
33  2020    40대  81.3
34  2020    50대  74.7
35  2020  60대이상  52.6
36  2021    10대  10.7
37  2021    20대  88.6
38  2021    30대  84.7
39  2021    40대  78.9
40  2021    50대  73.0
41  2021  60대이상  50.8

In [88]:
age_drunk = pd.read_csv('data(전처리)/연도별_연령별_인구대비_음주사고수(전처리).csv')

In [90]:
age_drunk

      연도    연령대  음주사고수       인구수
0   2015  20대이하    539  10148392
1   2015    20대   5312   6796396
2   2015    30대   5983   7738472
3   2015    40대   6307   8726984
4   2015    50대   4607   8220296
5   2015  60대이상   1654   9438835
6   2016  20대이하    477   9906252
7   2016    20대   4435   6860964
8   2016    30대   5028   7631784
9   2016    40대   4817   8645329
10  2016    50대   3579   8319444
11  2016  60대이상   1433   9905781
12  2017  20대이하    441   9604892
13  2017    20대   4363   6925447
14  2017    30대   4722   7518454
15  2017    40대   4544   8570005
16  2017    50대   3840   8380783
17  2017  60대이상   1607  10422926
18  2018  20대이하    375   9315774
19  2018    20대   4297   7004966
20  2018    30대   4632   7446677
21  2018    40대   4285   8408883
22  2018    50대   3880   8515725
23  2018  60대이상   1912  10937487
24  2019  20대이하    390   9029521
25  2019    20대   3669   7026161
26  2019    30대   3651   7304423
27  2019    40대   3357   8304629
28  2019    50대   3012   8608070
29  2019  60대이상   1629  11506399
30  2020  20대이하    382   8703718
31  2020    20대   3691   7031016
32  2020    30대   3878   7106801
33  2020    40대   3702   8232362
34  2020    50대   3673   8582699
35  2020  60대이상   1921  12172540
36  2021  20대이하    256   8400770
37  2021    20대   3080   6886781
38  2021    30대   3290   6954619
39  2021    40대   3247   8115933
40  2021    50대   3182   8575549
41  2021  60대이상   1839  12804419

In [92]:
age_drinking = age_drunk.copy()
age_drinking['음주율'] = d_rate['음주율']

In [94]:
age_drinking

      연도    연령대  음주사고수       인구수   음주율
0   2015  20대이하    539  10148392  16.7
1   2015    20대   5312   6796396  89.2
2   2015    30대   5983   7738472  83.2
3   2015    40대   6307   8726984  82.9
4   2015    50대   4607   8220296  74.3
5   2015  60대이상   1654   9438835  54.7
6   2016  20대이하    477   9906252  15.0
7   2016    20대   4435   6860964  89.2
8   2016    30대   5028   7631784  85.8
9   2016    40대   4817   8645329  82.4
10  2016    50대   3579   8319444  76.5
11  2016  60대이상   1433   9905781  53.9
12  2017  20대이하    441   9604892  16.1
13  2017    20대   4363   6925447  89.3
14  2017    30대   4722   7518454  87.0
15  2017    40대   4544   8570005  85.3
16  2017    50대   3840   8380783  75.3
17  2017  60대이상   1607  10422926  55.8
18  2018  20대이하    375   9315774  16.9
19  2018    20대   4297   7004966  87.6
20  2018    30대   4632   7446677  86.3
21  2018    40대   4285   8408883  84.5
22  2018    50대   3880   8515725  75.0
23  2018  60대이상   1912  10937487  57.0
24  2019  20대이하    390   9029521  15.0
25  2019    20대   3669   7026161  89.8
26  2019    30대   3651   7304423  85.8
27  2019    40대   3357   8304629  82.6
28  2019    50대   3012   8608070  73.0
29  2019  60대이상   1629  11506399  55.8
30  2020  20대이하    382   8703718  10.7
31  2020    20대   3691   7031016  87.7
32  2020    30대   3878   7106801  85.9
33  2020    40대   3702   8232362  81.3
34  2020    50대   3673   8582699  74.7
35  2020  60대이상   1921  12172540  52.6
36  2021  20대이하    256   8400770  10.7
37  2021    20대   3080   6886781  88.6
38  2021    30대   3290   6954619  84.7
39  2021    40대   3247   8115933  78.9
40  2021    50대   3182   8575549  73.0
41  2021  60대이상   1839  12804419  50.8

In [22]:
age_drinking.to_csv('연령대비_음주사고_complete.csv', index = False)

In [96]:
age_drinking

      연도    연령대  음주사고수       인구수   음주율
0   2015  20대이하    539  10148392  16.7
1   2015    20대   5312   6796396  89.2
2   2015    30대   5983   7738472  83.2
3   2015    40대   6307   8726984  82.9
4   2015    50대   4607   8220296  74.3
5   2015  60대이상   1654   9438835  54.7
6   2016  20대이하    477   9906252  15.0
7   2016    20대   4435   6860964  89.2
8   2016    30대   5028   7631784  85.8
9   2016    40대   4817   8645329  82.4
10  2016    50대   3579   8319444  76.5
11  2016  60대이상   1433   9905781  53.9
12  2017  20대이하    441   9604892  16.1
13  2017    20대   4363   6925447  89.3
14  2017    30대   4722   7518454  87.0
15  2017    40대   4544   8570005  85.3
16  2017    50대   3840   8380783  75.3
17  2017  60대이상   1607  10422926  55.8
18  2018  20대이하    375   9315774  16.9
19  2018    20대   4297   7004966  87.6
20  2018    30대   4632   7446677  86.3
21  2018    40대   4285   8408883  84.5
22  2018    50대   3880   8515725  75.0
23  2018  60대이상   1912  10937487  57.0
24  2019  20대이하    390   9029521  15.0
25  2019    20대   3669   7026161  89.8
26  2019    30대   3651   7304423  85.8
27  2019    40대   3357   8304629  82.6
28  2019    50대   3012   8608070  73.0
29  2019  60대이상   1629  11506399  55.8
30  2020  20대이하    382   8703718  10.7
31  2020    20대   3691   7031016  87.7
32  2020    30대   3878   7106801  85.9
33  2020    40대   3702   8232362  81.3
34  2020    50대   3673   8582699  74.7
35  2020  60대이상   1921  12172540  52.6
36  2021  20대이하    256   8400770  10.7
37  2021    20대   3080   6886781  88.6
38  2021    30대   3290   6954619  84.7
39  2021    40대   3247   8115933  78.9
40  2021    50대   3182   8575549  73.0
41  2021  60대이상   1839  12804419  50.8

In [98]:
age_drinking['음주율'] = age_drinking['음주율'] / 100

In [100]:
age_drinking['음주자수'] = round(age_drinking['인구수'] * age_drinking['음주율'])

In [102]:
age_drinking['음주자수'] = age_drinking['음주자수'].astype('int')

In [104]:
age_drinking['음주사고율'] = age_drinking['음주사고수'] / age_drinking['음주자수']

In [106]:
age_drinking.to_csv('연령대비_음주사고_complete.csv', index = False)