In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats



input_file_dir = "C:/Users/sherm/Desktop/workspace/LikeLion_Mid_team_14/data/raw/"
output_file_dir = "C:/Users/sherm/Desktop/workspace/LikeLion_Mid_team_14/data/processed/"

In [3]:
temp_0=pd.read_excel(output_file_dir + '12-16자동차등록대수_사고건수비_분석결과.xlsx')
temp_1=pd.read_excel(output_file_dir + '17-21자동차등록대수_사고건수비_비교.xlsx')

In [63]:
temp=temp_0.set_index("국가_국가").join(temp_1.set_index("국가_국가"))

In [64]:
temp=temp.iloc[:-1]

In [65]:
temp=temp.reset_index()

In [66]:
temp.columns = ['국가',2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]

In [67]:
temp=pd.melt(temp,id_vars=['국가'],var_name='연도', value_name='차량 등록 대수 당 사고율')

In [68]:
temp_clean=temp.dropna()

In [69]:
temp_clean['차량 등록 대수 당 사고율 X 100'] = temp_clean['차량 등록 대수 당 사고율']*100
temp_clean['차량 등록 대수 당 사고율 X 100_int'] = temp_clean['차량 등록 대수 당 사고율 X 100'].astype('int64')
temp_clean

C:\Users\sherm\AppData\Local\Temp\ipykernel_29292\1105036512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean['차량 등록 대수 당 사고율 X 100'] = temp_clean['차량 등록 대수 당 사고율']*100
C:\Users\sherm\AppData\Local\Temp\ipykernel_29292\1105036512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean['차량 등록 대수 당 사고율 X 100_int'] = temp_clean['차량 등록 대수 당 사고율 X 100'].astype('int64')

,국가,연도,차량 등록 대수 당 사고율,차량 등록 대수 당 사고율 X 100,차량 등록 대수 당 사고율 X 100_int
0,그리스,2012,0.131,13.1,13
1,네덜란드,2012,0.047,4.7,4
2,노르웨이,2012,0.171,17.1,17
3,뉴질랜드,2012,0.298,29.8,29
4,대한민국,2012,0.990,99.0,99
...,...,...,...,...,...
370,캐나다,2021,0.303,30.3,30
375,폴란드,2021,0.067,6.7,6
376,프랑스,2021,0.110,11.0,11
377,핀란드,2021,0.064,6.4,6
378,헝가리,2021,0.291,29.1,29

In [70]:
temp_clean['차량 등록 대수 당 사고율_temp'] = temp_clean['차량 등록 대수 당 사고율 X 100_int'].astype(str)

C:\Users\sherm\AppData\Local\Temp\ipykernel_29292\3149925959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean['차량 등록 대수 당 사고율_temp'] = temp_clean['차량 등록 대수 당 사고율 X 100_int'].astype(str)

In [71]:
temp_clean['차량 등록 대수 당 사고율_temp']=temp_clean['차량 등록 대수 당 사고율_temp'] + "%"

C:\Users\sherm\AppData\Local\Temp\ipykernel_29292\280895004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_clean['차량 등록 대수 당 사고율_temp']=temp_clean['차량 등록 대수 당 사고율_temp'] + "%"

In [76]:
temp_output=temp_clean[['국가','연도','차량 등록 대수 당 사고율 X 100_int']]
temp_output.columns = [['국가', '연도', '차량 등록 대수 당 사고율']]
temp_output

       국가    연도 차량 등록 대수 당 사고율
0     그리스  2012             13
1    네덜란드  2012              4
2    노르웨이  2012             17
3    뉴질랜드  2012             29
4    대한민국  2012             99
..    ...   ...            ...
370   캐나다  2021             30
375   폴란드  2021              6
376   프랑스  2021             11
377   핀란드  2021              6
378   헝가리  2021             29

[290 rows x 3 columns]

In [77]:
temp_output.to_csv(output_file_dir+'차량_등록대수_당_사고건수.csv')